<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to Prabhakar Machine Learning Course</h1>
    <form method="post">
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">password</label><br>
        <input type="password" id="password" name="password"><br><br>
        <label for="Branch">Branch</label><br>
        <input type="text" id="Branch" name="Branch">
        <input type="submit" value="Submit"><br>
    </form>


    <p>Go to <a href="/about">about Page</a></p>
</body>
</html>
